{% extends "base.html" %}

{% block content %}
    <!-- Include custom CSS file for about page -->
    <link rel="stylesheet" href="../static/css/about.css">

<div class="image-container">
    <img src="{{ url_for('static', filename='images/base/uppershape.png') }}" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">About Us !!</h2>
    </div>
</div>

    <!-- Flash messages handling -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}



    <!-- Main content section -->
    <section class="main-sect">
        <img class="bubble-1" src="../static/images/base/bubble1.png" alt="Bubble 1" >
        <div>
            <img class="logo-text" src="/static/images/base/feed-forward-text.png" alt="Logo" height="150%" width="150%">
        </div>

        <section class="row section1">
            <!-- Left column -->
            <div class="col-lg-6 part1">
                <div class="subpt1">
                    <div>
                        <!-- Main logo -->
                        <img class="logo-image" src="../static/images/base/favicon_light.png" alt="Logo" >
                    </div>

                </div>
            </div>

            <!-- Right column -->
            <div class="col-lg-6 part2">
                <div class="title-container">

                    <div class="sub-text-div">
                        <!-- Quote about food -->
                        <p class="sub-text">"Every meal shared brings us closer to a world without hunger. Join us in making a difference."</p>
                    </div>
                </div>
            </div>
        </section>
        <img class="bubble-2" src="../static/images/base/bubble2.png" alt="Bubble 2" >
    </section>

    <!-- Mission section -->
    <section>
        <div class="title-container">
                    <!-- Title -->

                </div>

        <div class="row text-center body-text-1">
            <h3>Our mission</h3>
            <!-- Mission description -->
            <p class="body-p">Our mission is to eliminate food waste and combat hunger by seamlessly
                connecting generous food donors with individuals and organizations in need. We aim to
                build a sustainable and supportive community where surplus food is redistributed to
                those who need it most, ensuring everyone has access to nutritious meals. By fostering
                a culture of sharing and responsibility, we strive to reduce the environmental impact
                of food waste while addressing food insecurity. Together, we can create a more equitable
                and sustainable world.</p>
        </div>
    </section>

    <!-- Who are we section -->
    <section>
        <div class="container mt-5">
            <div class="row">
                <div>
                    <div class="cream-box1 text-center">
                        <!-- Title -->
                        <h3 class="donors-text">Who are we?</h3>
                        <!-- Description -->
                        <p class="donors-text-body">We are a dedicated community committed to
                            reducing food waste and fighting hunger. Our platform connects generous
                            food donors with individuals and organizations in need, ensuring surplus
                            food is redistributed rather than discarded. By fostering a culture of
                            sharing and sustainability, we aim to provide nutritious meals to those
                            who need them most while minimizing our environmental footprint. Together,
                            we strive to create a more equitable and hunger-free world, one meal at a time.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- How does this work section -->
    <section>
        <div class="container mt-5">
            <div class="row">
                <div>
                    <div class="cream-box2 text-center">
                        <!-- Title -->
                        <h3 class="donors-text">How does this work?</h3>
                        <!-- Description -->
                        <p class="donors-text-body">At our core, we facilitate the seamless connection between generous food donors and individuals or organizations in need. Donors begin by creating adverts detailing surplus food available for donation, specifying quantities, types, and any delivery preferences. These adverts are then published on our platform and displayed on an interactive map, allowing those in need to easily locate nearby donations. Once a suitable donation is found, donors and recipients connect to coordinate collection or delivery, ensuring that surplus food reaches those who need it most. Through this process, we not only reduce food waste but also fight hunger and promote a more sustainable and compassionate community.
                            <br> Join us in our mission to make a difference, one meal at a time.</p>

                    </div>

                </div>

            </div>

        </div>
    </section>

{% endblock %}
