{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/account.css') }}">

<div class="image-container">
    <img src="{{ url_for('static', filename='images/base/uppershape.png') }}" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Account overview</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
    {% endif %}
{% endwith %}

<div class="background-container">
    <div class="container1">
        <h2 class="account-title">
            Personal information
        </h2>
        <div class="container text-center">
            <div class="row align-items-start">
                <div><!-- Profile image-->
                    <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" class="pfp">
                </div>

                <!-- User details-->
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="firstName"
                               value="{{ current_user.first_name }}">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="lastName"
                               value="{{ current_user.surname }}">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="dob"
                               value="{{ current_user.dob }}">
                        <label for="dob">Date of Birth</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" readonly class="form-control-plaintext" id="email"
                               value="{{ current_user.email }}">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="address"
                               value="{{ current_user.address }}">
                        <label for="address">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" readonly class="form-control-plaintext" id="phone"
                               value="{{ current_user.phone }}">
                        <label for="phone">Phone</label>
                    </div>
                </div>

                <div><!-- Change details button-->
                    <a href="" class="button-change">Change Details</a>
                </div>

                <!-- Advert Collection History -->
                <div>
                    <h2 class="ad-history">
                        Advert Donation History
                    </h2>
                    <table class="table"> <!-- Advert collection history table-->
                        <thead>
                        <tr>
                            <th scope="col">Serial Number</th>
                            <th scope="col">Title</th>
                            <th scope="col">Address</th>
                            <th scope="col">Best Before</th>
                            <th scope="col">Food Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for advert in adverts %}
                        <tr>
                            <td><a href="advert_details/{{advert.adID}}">{{ advert.adID }}</a></td>
                            <td>{{ advert.title }}</td>
                            <td>{{ advert.address }}</td>
                            <td>{{ advert.expiry }}</td>
                            <td>{{ advert.contents }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
