{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/account.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Account overview</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="notification is-danger">
        {{ messages[0] }}.
    </div>
    {% endif %}
{% endwith %}

<div class="background-container">
    <div class="container1">
        <h2 class="account-title">
            Personal information
        </h2>
        <div class="container text-center">
            <div class="row align-items-start">

                <div><!-- Profile image-->
                    <img src="../static/images/base/pfp.png" alt="pfp" class="pfp">
                </div>

                <!-- User details-->
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="firstName"
                               value="{{ current_user.first_name }}">
                        <label for="firstName">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="lastName"
                               value="{{ current_user.surname }}">
                        <label for="lastName">Last Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="dob"
                               value="{{ current_user.dob }}">
                        <label for="dob">Date of Birth</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating mb-3">
                        <input type="email" readonly class="form-control-plaintext" id="email"
                               value="{{ current_user.email }}">
                        <label for="email">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" readonly class="form-control-plaintext" id="address"
                               value="{{ current_user.address }}">
                        <label for="address">Address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="tel" readonly class="form-control-plaintext" id="phone"
                               value="{{ current_user.phone }}">
                        <label for="phone">Phone</label>
                    </div>
                </div>

                <div><!-- Change details button-->
                    <a href="" class="button-change">Change Details</a>
                </div>

                <!-- Advert Collection History -->
                <div>
                    <h2 class="ad-history">
                        Advert Collection History
                    </h2>
                    <!-- Table displaying advert collection history -->
                    <!-- Insert your table code here -->
                </div>

                <!-- Donation History -->
                <div>
                    <h2 class="ad-history">
                        Donation History
                    </h2>
                    <!-- Table displaying donation history -->
                    <!-- Insert your table code here -->
                    <table>
                        <tr>
                            <th>Title</th>
                            <th>Contents</th>
                            <th>Expiry date</th>
                        </tr>
                        {% for advert in current_user.adverts %}
                        <tr>
                            <td><a href="advert_details">{{advert.title}}</a></td>
                            <td>{{advert.contents}}</td>
                            <td>{{advert.expiry}}</td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
