{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/advert_details.css" xmlns="http://www.w3.org/1999/html">
<script type="text\javascript" src="{{url_for('static', filename='base.js')}}"></script>

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Advert Details</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    <div class="form-container">
        <form action="#" method="post">
            <div class="form-group">
                <label for="donor_name">Advert Title:</label>
                {{ current_advert.title }}
            </div>
            <div class="form-group">
                <label for="food_description">Food Description:</label>
                {{ current_advert.contents }}
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                {{ current_advert.address }}
            </div>
            <div class="form-group">
                <label for="best_before">Best Before:</label>
                {{ current_advert.expiry }}
            </div>
        </form>
    </div>
    <div class="map-container" id="map">
        <h3>Location on the map:</h3>
        <button class="open-map-button">Open Map</button>
    </div>
    <div class="button-container row">
        <div class="col-lg-6">
            <a class="btn btn1" href="../collect_confirmation/{{current_advert.adID}}" onclick="return confirm('Are you sure you want to collect this advert?')">Collect</a>
        </div>
        <div class="col-lg-6">
            <a class="btn btn1" href="../delete_advert/{{current_advert.adID}}" onclick="return confirm('Are you sure you want to delete this advert?')">Delete</a>
        </div>
        <div class="col-lg-6">
            <input type="submit" value="Message Advertiser" class="btn btn2">
        </div>
    </div>
</div>

{% endblock %}
