{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/chat.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Chat</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    <div class="profile"> <h4 class="fjalla-one-regular1">Username</h4></div>
    <div class="message-container">
        <div class="incoming"><p>Incoming message</p></div>
        <div class="outgoing"><p>Outgoing message</p></div>
    </div>
    <div class="input-container">
        <input type="text" placeholder="Type your message...">
        <button>Send</button>
    </div>
</div>

{% endblock %}
