{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/chat.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Chat</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    {% if conversation and name %}
        <div class="profile"> <h4 class="fjalla-one-regular1">{{name}}</h4></div>
        <div class="message-container">
            {% for msg in conversation %}
                {% if msg.sender == current_user.id %}
                    <div class="outgoing"><p>{{msg.contents}}</p></div>
                {% else %}
                    <div class="incoming"><p>{{msg.contents}}</p></div>
                {% endif %}
            {% endfor %}
        </div>
        {% if form %}
            <form method="POST">
                <div class="input-container">
                    {{ form.csrf_token() }}
                    {% for error in form.contents.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                    {{ form.contents(class="input", placeholder="Type your message...") }}
                    <div class="form-group field">
                        <div class="btn-section text-center">
                            {{ form.submit(class="button is-info is-centered custom-button") }}
                        </div>
                    </div>
                </div>
            </form>
        {% endif %}
    {% endif %}
</div>

{% endblock %}
