{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/createadvert.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Create Advert</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    <div class="form-container">
        <!-- Advert form -->
        <form action="#" method="post">
            {{ form.csrf_token }}
            <!-- Title -->
            <div class="form-group field">
                <div class="control">
                    <label for="title">Name</label>
                    {{ form.name(class="input", placeholder="Name") }}
                    {% for error in form.name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control">
                    <label for="contents">Contents</label>
                    {{ form.contents(class="input", placeholder="Contents") }}
                    {% for error in form.contents.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group field">
                <div class="control">
                    <label for="address">Address</label>
                    {{ form.address(class="input", placeholder="Address") }}
                    {% for error in form.address.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control">
                    <label for="expiry">Expiry</label>
                    {{ form.expiry(class="input", type="date") }}
                    {% for error in form.expiry.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control" hidden="true">
                    <label for="longitude">Longitude</label>
                    {{ form.longitude(class="input", placeholder="Longitude") }}
                    {% for error in form.longitude.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control" hidden="true" >
                    <label for="latitude">Latitude</label>
                    {{ form.latitude(class="input", placeholder="Latitude") }}
                    {% for error in form.latitude.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <p><b>Drag the marker: </b></p>
             <div class="form-group field" id="map">
                 <label>Drag the marker</label>
                <h3>Drop your location on the map:</h3>
                <button class="open-map-button">Open Map</button>

            </div>
            <div class="form-group field">
                <div>
                {{ form.submit(class="button is-info is-centered") }}
                </div>
            </div>
        </form>

    </div>


</div>
<!-- Include Maplibre and map initialization script -->
<link rel='stylesheet' href='https://unpkg.com/maplibre-gl@4.3.1/dist/maplibre-gl.css' />
<script src='https://unpkg.com/maplibre-gl@4.3.1/dist/maplibre-gl.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const map = new maplibregl.Map({
            container: 'map',
            style: 'https://api.maptiler.com/maps/streets/style.json?key=get_your_own_OpIi9ZULNHzrESv6T2vL',
            center: [-1.6151, 54.9741],
            zoom: 8
        });

        const marker = new maplibregl.Marker({draggable: true})
            .setLngLat([-1.6151, 54.9741])
            .addTo(map);

        map.addControl(
            new maplibregl.GeolocateControl({
                positionOptions: {
                    enableHighAccuracy: true
                },
                trackUserLocation: true
            })
        );
        function onDragEnd() {
            const lngLat = marker.getLngLat();
            document.getElementById('latitude').value = lngLat.lat;
            document.getElementById('longitude').value = lngLat.lng;
        }

        marker.on('dragend', onDragEnd);

        // Set initial values
        onDragEnd();

    });
</script>

{% endblock %}