{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/createadvert.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Create Advert</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    <div class="form-container">
        <!-- Advert form -->
        <form action="#" method="post">
            {{ form.csrf_token }}
            <!-- Title -->
            <div class="form-group field">
                <div class="control">
                    <label for="title">Title</label>
                    {{ form.title(class="input", placeholder="Title") }}
                    {% for error in form.title.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control">
                    <label for="contents">Contents</label>
                    {{ form.contents(class="input", placeholder="Contents") }}
                    {% for error in form.contents.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group field">
                <div class="control">
                    <label for="address">Address</label>
                    {{ form.address(class="input", placeholder="Address") }}
                    {% for error in form.address.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div class="control">
                    <label for="expiry">Expiry</label>
                    {{ form.expiry(class="input", type="date") }}
                    {% for error in form.expiry.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="form-group field">
                <div>
                {{ form.submit(class="button is-info is-centered") }}
                </div>
            </div>
        </form>

    </div>
    <div class="map-container">
        <h3>Drop your location on the map:</h3>
        <img src="../../static/images/create-advert/map.png" alt="Map Image" class="map-image">
        <button class="open-map-button">Open Map</button>
    </div>

</div>

{% endblock %}