{% extends "base.html" %}

{% block content %}
    <link rel="stylesheet" href="../static/css/index.css">

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}
    <section class="main-sect">
      <section class="row section1">
        <!-- Left column -->
        <div class="col-lg-6 part1">
          <div class="subpt1">
            <div>
              <img src="../static/images/base/main-logo.png" alt="Logo" height="100%" width="100%">
            </div>
            <div class="sub-text-div">
              <p class="sub-text">No one should go hungry.</p>
            </div>
          </div>
        </div>
    
        <!-- Right column -->
        <div class="col-lg-6 part2">
          <div class="map-container">
            <img src="../static/images/base/map.png" alt="Map" class="map-img">
            <button class="open-map" onclick="" id="openMap">Open Map</button>
          </div>
        </div>
      </section>
    </section>

    <div class="container mt-5">
      <div class="row">
          <div class="col-md-6">
              <div class="cream-box text-center">
                  <p class="donors-text">Donors</p>
                  <p class="donors-text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                  <button class="cream-box-button" onclick="donate()" id="Donate">Donate</button>
              </div>
          </div>
          <div class="col-md-6">
              <div class="cream-box text-center">
                  <p class="donors-text">Those In Need</p>
                  <p class="donors-text-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                  <button class="cream-box-button" onclick="findFood()" id="FindFood">Find Food</button>
              </div>
          </div>
     </div>

     <section>
      <div class="row text-center body-text-1">
          <h3>Our mission</h3>
          <p class="body-p">Lorem ipsum dolor sit amet. Et officia eaque non quas cupiditate et officia modi? Eos
              explicabo perspiciatis ut optio deleniti eum tenetur dolore. Aut earum voluptate qui <br>
              ducimus officia et quidem dolorem ab voluptatem neque sed vitae eligendi et quos 
              autem hic quis eveniet. Ut porro rerum ut quaerat labore ut magnam nobis id labore beatae <br>
              ut repudiandae labore et modi doloremque.<br>
              Est consectetur rerum et enim possimus et eaque error obcaecati.</p>
  
      </div>
  </section>

  <section>
    <div class="container mt-5">
      <div class="row">
          <div>
              <div class="cream-box1 text-center">
                  <h3>Monthly Newsletter</h3>
                  <p class="donors-text-body">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                  <button class="cream-box-button1" onclick="findFood()" id="FindFood">Sign-up</button>
                </div>
          </div>

     </div>
</section> 
  
{% endblock %}
