{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/listedadverts.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Listed Adverts</h2>
    </div>
</div>

    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="notification is-danger">
                        {{ messages[0] }}.
                    </div>
                {% endif %}
    {% endwith %}

<div class="background-container">
    <div class="container1">
        <table class="table"> <!-- Advert collection history table-->
                        <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Food description</th>
                            <th scope="col">Best before</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for advert in current_advert %}
                        <tr>
                            <td><a href="advert_details/{{advert.adID}}">{{advert.title}}</a></td>
                            <td>{{advert.contents}}</td>
                            <td>{{advert.expiry}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
    </div>
</div>

{% endblock %}