{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/messages.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Messages</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    {% if recent_messages %}
        {% for user, message in recent_messages.items() %}
            <div class="message-bg" onclick="redirectToChat()">
                <div class="msg-content">
                    <div class="pfp">
                        <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" width="100%">
                    </div>

                <div class="username">
                    <h2>{{user.first_name}}</h2>
                    <p>{{message.contents}}</p>
                </div>

                <div class="msg-time">
                    <p>{{time_messages[user]}}</p>
                </div>
        </div>
    </div>
        {% endfor %}
    {% endif %}
</div>

<script>
    function redirectToChat() {
        window.location.href = "{{ url_for('messages.chat') }}";
    }
</script>


{% endblock %}


