{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="../static/css/messages.css">

<div class="image-container">
    <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Messages</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="notification is-danger">
    {{ messages[0] }}.
</div>
{% endif %}
{% endwith %}

<div class="background-container">
    <div class="message-bg" onclick="redirectToChat()">
        <div class="msg-content">
            <div class="pfp">
                <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" width="100%">
            </div>

            <div class="username">
                <h2>User 1</h2>
                <p>Yeah the food is still available</p>
            </div>

            <div class="msg-time">
                <p>sent 2 mins ago</p>
            </div>
        </div>
    </div>
    <div class="message-bg" onclick="redirectToChat()">
        <div class="msg-content">
            <div class="pfp">
                <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" width="100%">
            </div>

            <div class="username">
                <h2>User 2</h2>
                <p>Yeah the food is still available</p>
            </div>

            <div class="msg-time">
                <p>sent 2 mins ago</p>
            </div>
        </div>
    </div>
    <div class="message-bg" onclick="redirectToChat()">
        <div class="msg-content">
            <div class="pfp">
                <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" width="100%">
            </div>

            <div class="username">
                <h2>User 3</h2>
                <p>Yeah the food is still available</p>
            </div>

            <div class="msg-time">
                <p>sent 2 mins ago</p>
            </div>
        </div>
    </div>
</div>

<script>
    function redirectToChat() {
        window.location.href = "{{ url_for('chat') }}";
    }
</script>


{% endblock %}


