{% extends "base.html" %}

{% block content %}

<!-- Include custom CSS file for signup page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">

<!-- Sticky Image with text -->
<div class="image-container">
    <img src="{{ url_for('static', filename='images/base/uppershape.png') }}" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Create an account</h2>
    </div>
</div>

<!-- Flash messages handling -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
    {% endif %}
{% endwith %}

<!-- Background container for signup form -->
<div class="background-container">
    <div class="container1">
        <!-- Signup form -->
        <form action="#" class="signup-form" method="POST">
            {{ form.csrf_token }}
            
            <!-- First Name -->
            <div class="form-group field">
                <div class="control">
                    <label for="first-name">First Name</label>
                    {{ form.first_name(class="input", placeholder="First Name") }}  
                    {% for error in form.first_name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Last Name -->
            <div class="form-group field">
                <div class="control">
                    <label for="last-name">Last Name</label>
                    {{ form.last_name(class="input", placeholder="Last Name") }}  
                    {% for error in form.last_name.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Email -->
            <div class="form-group field">
                <div class="control">
                    <label for="email">Email</label>
                    {{ form.email(class="input", placeholder="Email") }}  
                    {% for error in form.email.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Date of Birth -->
            <div class="form-group field">
                <div class="control">
                    <label for="date-of-birth">Date of Birth</label>
                    {{ form.dob(class="input", type="date") }}  
                    {% for error in form.dob.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Address -->
            <div class="form-group field">
                <div class="control">
                    <label for="address">Address</label>
                    {{ form.address(class="input", placeholder="Address") }}  
                    {% for error in form.address.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Password -->
            <div class="form-group field">
                <div class="control">
                    <label for="password">Password</label>
                    {{ form.password(class="input", placeholder="Password", type="password") }}  
                    {% for error in form.password.errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </div>
            </div>

            <!-- Submit Button -->
            <div class="form-group field">
              <div>
                {{ form.submit(class="button is-info is-centered") }}
            </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
