.image-container {
  position: relative;
  width: 100%;
}

.sticky-image {
  width: 100%;
  display: block;
}

.image-text {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding-bottom: 20px;
}

.container1 {
  width: 90%; 
  max-width: 1200px; 
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px; 
}

.background-container {
  width: 90%; 
  margin: 50px auto;
  background-color: rgba(217, 217, 217, 0.7); 
  border-radius: 80px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px; 
}

.form-floating.mb-3 {
  background-color: #FFFFFF;
  border-radius: 5px;
}

.account-title {
  text-align: center;
  font-family: "Fjalla One";
  font-size: 50px;
  margin-bottom: 50px;
}

.ad-history {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Fjalla One";
}

.pfp {
  height: 200px;
  width: 200px;
  margin-bottom: 50px;
}

.button-change {
  width: 160px;
  padding: 15px;
  background-color: #FFFFFF;
  color: #FF0000;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  margin: 0 auto;
}

.button-change:hover {
  background-color: #620303;
}

.textbox-section {
  padding-bottom: 20px;
}

.button:hover {
  background-color: #0056b3;
}

.signup-form {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="dob"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 60px;
}

.notification {
  background-color: #ff0000; 
  color: #ffffff; 
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 25px;
  border-radius: 5px;
}

.table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

.table th, .table td {
  padding: 15px; 
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 18px; 
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tr:hover {
  background-color: #f5f5f5;
}

.table td a {
  color: #007bff;
  text-decoration: none;
}

.table td a:hover {
  text-decoration: underline;
}

.table-2 {
  margin-bottom: 50px;
}

/* Media query for smaller screens */
@media (max-width: 767px) {
  .image-container {

  }
  
  .sticky-image {

  }
  
  .image-text h2 {

  }
  
  .main-sect {
    height: 400px;
  }
  
  .title-container {

  }
  
  .fjalla-one-regular {
    font-size: 24px;
    margin-top: 10px;
    padding-top: 10px;
  }
  
  .body-text-1 {

  }
  
  .body-p {

  }
  
  .sub-text {
    font-size: 18px;
  }
  
  .sub-text-div {
    margin: 0 auto;
  }
  
  .donors-text {

  }
  
  .donors-text-body {
    font-size: 10px;
  }
  
  .cream-box1 {
    height: 260px;
  }
  
  .cream-box2 {
    height: 260px;
  }
  
  .logo-image {
    width: 18%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .logo-text {
    width: 88%;
    margin: 0 auto;
    margin-bottom: 20px;


    
  }
  
  .notification {

  }

  .table {
    width: 250px;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    padding: 5px; 
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 10px; 
  }

  .background-container {
    padding: 0px;
    height: 1200px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="address"],
  input[type="dob"],
  input[type="password"] {
    width: 100%;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container1 {
  padding: 0px;
  margin: 0 auto;
}

.table-2 {
  margin-bottom: 40px;
}

.account-title {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 20px;
}

}