.image-container {
    position: relative;
    width: 100%;
}

.sticky-image {
    width: 100%;
    display: block;
}

.image-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.background-container {
    width: 80%; 
    margin: 50px auto;
    background-color: rgba(217, 217, 217, 0.7); 
    border-radius: 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    height: 60vh;
    position: relative; 
}

.message-container {
    height: calc(100% - 80px); 
    overflow-y: scroll; 
    padding-bottom: 70px;
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.message-container::-webkit-scrollbar {
    width: 6px;
}

.message-container::-webkit-scrollbar-track {
    background: transparent;
}

.message-container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 3px; 
}

.message-container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute; 
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px);
    background-color: rgba(255, 255, 255, 0.7); 
    padding: 10px; 
    border-radius: 20px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    margin-top: 20px;
}

.input-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    outline: none;
}

.input-container button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
    transition: background-color 0.3s ease;
}

.input-container button:hover {
    background-color: #0056b3;
}

.profile {
    text-align: center;
    color: white;
}

.incoming {
    text-align: left;
    background-color: #ffffff; 
    padding: 10px; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.incoming p {
    margin: 0; 
}

.outgoing {
    text-align: right;
    background-color: #d9d9d9; 
    padding: 10px; 
    border-radius: 10px; 
    margin-bottom: 10px; 
    word-wrap: break-word; 
    overflow-wrap: break-word; 
}

.outgoing p {
    margin: 0; 
}

.fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.fjalla-one-regular1 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.notification {
    background-color: #ff0000; 
    color: #ffffff; 
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 25px;
    border-radius: 5px;
}

.custom-button {
    width: 100px;
    padding: 15px;
    margin-left: 20px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.custom-button:hover {
    background-color: #0056b3;
}