.image-container {
    position: relative;
    width: 100%;
}

.sticky-image {
    width: 100%;
    display: block;
}

.image-text {
    position: absolute;
    top: 50%; /* Adjust vertically */
    left: 50%; /* Adjust horizontally */
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container1 {
  width: 80%; /* Change the width as per your requirement */
  max-width: 500px; /* Increase the maximum width */
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px; /* Increased border radius for a softer square shape */
  
}

.background-container {
  width: 75%; /* Adjust the width as needed */
  margin: 50px auto;
  background-color: rgba(217, 217, 217, 0.7); /* Translucent background color */
  border-radius: 80px; /* Border radius for a softer square shape */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px; /* Padding to ensure the content doesn't touch the edges */
  margin-bottom: 70px;
}

  
  .signup-form {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
 .signupbtn {
    width: 40%;
    padding: 15px;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .fjalla-one-regular2 {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
  }

  .fjalla-one-regular {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
  }

  .body-text {
    margin-top: 50px;
  }