{% extends "base.html" %}

{% block content %}
    <!-- Include custom CSS file for newsletter page -->
    <link rel="stylesheet" href="../static/css/newsletter.css">

    <!-- Sticky Image with text -->
    <div class="image-container">
        <img src="../static/images/base/uppershape.png" alt="Sticky Image" class="sticky-image">
        <div class="image-text">
            <!-- Title -->
            <h2 class="fjalla-one-regular">Newsletter</h2>
        </div>
    </div>

    <!-- Flash messages handling -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <!-- Introduction section -->
    <section>
        <div class="row text-center body-text">
            <!-- Introduction text -->
            <h2 class="fjalla-one-regular2" style="color: white;">Sign-up for our monthly <br>newsletter and stay updated!!</h2>
        </div>
    </section>

    <!-- Signup form section -->
    <section>
        <div class="background-container">
            <div class="container1">
                <!-- Signup form -->
                <form action="#" class="signup-form">
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <!-- Input field for email -->
                        <input type="email" id="email" name="email" required>
                    </div>
                    <!-- Signup button -->
                    <button type="submit" class="signupbtn">Sign Up</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
