{% extends "base.html" %}

{% block content %}
    <!-- Include custom CSS file for collect confirmation page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/collect_confirmation.css') }}">
    <!-- Include base JavaScript file -->
    <script type="text/javascript" src="{{ url_for('static', filename='base.js') }}"></script>

    <!-- Sticky Image with text -->
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/base/uppershape.png') }}" alt="Sticky Image" class="sticky-image">
        <div class="image-text">
            <!-- Title -->
            <h2 class="fjalla-one-regular">Collection confirmation</h2>
        </div>
    </div>

    <!-- Flash messages handling -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
    {% endwith %}

    <!-- Background container for collection confirmation details -->
    <div class="background-container">
        <!-- Header -->
        <h2>You have opted to collect the following advert:</h2>
        <div class="form-container">
            <!-- Collection confirmation form -->
            <form action="#" method="post">
                <div class="form-group">
                    <label for="advert_title">Advert Title:</label>
                    <!-- Display advert title -->
                    {{ current_advert.title }}
                </div>
                <div class="form-group">
                    <label for="food_description">Food Description:</label>
                    <!-- Display food description -->
                    {{ current_advert.contents }}
                </div>
                <div class="form-group">
                    <label for="address">Address:</label>
                    <!-- Display address -->
                    {{ current_advert.address }}
                </div>
                <div class="form-group">
                    <label for="best_before">Best Before:</label>
                    <!-- Display best before date -->
                    {{ current_advert.expiry }}
                </div>
                <div class="form-group">
                    <!-- Link to view more details of the advert -->
                    <a href="../advert_details/{{ current_advert.adID }}">More details</a>
                </div>
            </form>
          </div>



        <div class="button-container">
            <!-- Button to go back to the user's account -->
            <a class="collectbtn" href="{{ url_for('users.account') }}">Back to account</a>
        </div>
    </div>
{% endblock %}

