{% extends "base.html" %}

{% block content %}

<!-- Include custom CSS file for messages page -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/messages.css') }}">

<div class="image-container">
    <img src="{{ url_for('static', filename='images/base/uppershape.png') }}" alt="Sticky Image" class="sticky-image">
    <div class="image-text">
        <h2 class="fjalla-one-regular">Messages</h2>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <!-- Flash messages handling -->
        <div class="notification is-danger">
            {{ messages[0] }}.
        </div>
    {% endif %}
{% endwith %}

<div class="background-container">
    {% if recent_messages %}
        {% for user, message in recent_messages.items() %}
            <!-- Individual message background container -->
            <div class="message-bg" type="button" onclick="window.location.href = '{{ url_for('messages.chat', messenger_id=user.id) }}';">
                <div class="msg-content">
                    <!-- Profile picture -->
                    <div class="pfp">
                        <img src="{{ url_for('static', filename='images/base/pfp.png') }}" alt="pfp" width="100%">
                    </div>

                    <!-- Username and message content -->
                    <div class="username">
                        <h2>{{ user.first_name }}</h2>
                        <p>{{ message.contents }}</p>
                    </div>

                    <!-- Message time -->
                    <div class="msg-time">
                        <p>{{ time_messages[user] }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}
